.aem-dialog {
  font-family: $font-family-base;
  font-size: $font-size-sm;
  color: $aem-text;
  background-color: $aem-background;
  @include card;
  
  &__header {
    @include flex(row, space-between, center);
    padding: $spacing-sm $spacing-md;
    border-bottom: $border-width-thin solid $aem-border;
  }
  
  &__title {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $aem-text;
  }
  
  &__content {
    padding: $spacing-md;
  }
  
  &__footer {
    @include flex(row, flex-end, center);
    padding: $spacing-sm $spacing-md;
    border-top: $border-width-thin solid $aem-border;
  }
}
