.aem-field {
  margin-bottom: $spacing-md;
  
  &__label {
    display: flex;
    align-items: center;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $aem-text;
    margin-bottom: $spacing-xs;
    position: relative;
  }
  
  &__input {
    @include form-field;
  }
  
  &__textarea {
    @include form-field;
    resize: vertical;
    min-height: 100px;
  }
  
  &__select {
    @include form-field;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23707070' d='M6 8.825L1.175 4 2.05 3.125 6 7.075 9.95 3.125 10.825 4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right $spacing-md center;
    padding-right: $spacing-xl;
  }
  
  &__checkbox {
    display: flex;
    align-items: center;
    
    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      margin-right: $spacing-sm;
      border: $border-width-thin solid $aem-field-border;
      border-radius: $border-radius-sm;
      
      &:checked {
        background-color: $aem-blue;
        border-color: $aem-blue;
      }
    }
  }
  
  &__help {
    position: absolute;
    right: 0;
    top: 0;
    color: $aem-icon;
    cursor: help;
  }
  
  &__description {
    font-size: $font-size-xs;
    color: $color-muted;
    margin-top: $spacing-xs;
  }
}
