.aem-tabs {
  display: flex;
  border-bottom: $border-width-thin solid $aem-border;
  background-color: $aem-background;
  
  &__item {
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-sm;
    color: $aem-text;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    
    &:hover {
      background-color: rgba($color-text, 0.05);
    }
    
    &--active {
      border-bottom-color: $aem-blue;
      color: $aem-blue;
    }
  }
  
  &__content {
    padding: $spacing-md;
  }
}
